<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304831392698-lt64sh735t64vmnpvmre3n46tgcd9k18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304831392698-lt64sh735t64vmnpvmre3n46tgcd9k18</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304831392698-s021bout85djbn3h00adql371ims2ftc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj04TxE9s8hU0X6hjwgzyh4VfGKvXQZOE</string>
	<key>GCM_SENDER_ID</key>
	<string>304831392698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damtrade</string>
	<key>PROJECT_ID</key>
	<string>damtrade-c6055</string>
	<key>STORAGE_BUCKET</key>
	<string>damtrade-c6055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304831392698:ios:5b164bedf1bc49f3298b83</string>
</dict>
</plist>